<div class="component-call code-block" contenteditable>
  <code class="language-ruby">&lt;%= render partial: 'govuk_component/<%= component.id %>'<% if fixture.data? %>, locals: <%= fixture.pretty_data %><% end %> %&gt;</code>
</div>
