<div class="component-list">
  <ol>
    <% components.each do |component| %>
      <li>
        <h2><a href="<%= component_path(component.id) %>"><%= component.name %></a></h2>
        <% if component.description %>
          <p><%= component.description %></p>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
