@import "measurements";
@import "conditionals";

$grid-max-width: 1020px;

@mixin grid-container {
  margin: 0 auto;
  width: auto;
  max-width: $grid-max-width - ($gutter-half * 2);
  padding: 0 $gutter-half;

  @include media(tablet) {
    max-width: $grid-max-width - ($gutter * 2);
    padding: 0 $gutter;
  }
}

@mixin grid-indent {
  padding-left: $gutter-half;
  padding-right: $gutter-half;

  @include media(tablet) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

@mixin grid-outdent($padding-indent: false) {
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  @include media(tablet) {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }

  @if $padding-indent {
    @include grid-indent;
  }
}
