<% content_for :header do %>
  GOV.UK Publishing Component Guide
<% end %>

<% content_for :header_description do %>
  <p>Components are a way to share UI patterns between applications, without duplicating code, within the GOV.UK Publishing platform. <a href="/about">Find out more</a></p>
<% end %>
