<% content_for :header do %>
  Home
<% end %>

<p>Components are a way to share UI patterns between applications, without duplicating code. <a href="/about">Find out more</a></p>

<h1>Components</h1>
<%= render partial: "components/list", locals: {components: @components } %>
