<div class="component-call code-block" contenteditable>
  <code class="language-ruby">&lt;%= render partial: 'govuk_component/<%= component.id %>', locals: <%= fixture.pretty_data %> %&gt;</code>
</div>
