<div class="component-list">
  <h1>
    GOV.UK Components
  </h1>

  <ol>
    <% @components.each do |component| %>
      <li>
        <a href="/component/<%= component[0] %>"><%= component[0] %></a>
      </li>
    <% end %>
  </ol>

</div>
