<% content_for :header do %>
  Available Components
<% end %>

<div class="component-list">
  <ol>
    <% @components.each do |component| %>
      <li>
        <h2><a href="/component/<%= component.id %>"><%= component.name %></a></h2>
        <% if component.description %>
          <p><%= component.description %></p>
        <% end %>
      </li>
    <% end %>
  </ol>

</div>
