<% content_for :header do %>
  Available Components
<% end %>

<div class="component-list">
  <ol>
    <% @components.each do |component| %>
      <li>
        <a href="/component/<%= component[0] %>"><%= component[0] %></a>
      </li>
    <% end %>
  </ol>

</div>
