<% content_for :header do %>
  <%= @component["name"] %>
<% end %>

<div class="component-show">

  <p>How to call this component</p>
  <code class="block">
    &lt;%= render partial: 'govuk_component/<%= @component["id"] %>' %&gt;
  </code>

  <p>How this component looks</p>
  <div class="preview">
    <%= render partial: "govuk_component/#{@component["id"]}" %>
  </div>
</div>
