<div class="component-show">
  <h1>
    GOV.UK Component
    <span class="name"><%= @component_name %></span>
  </h1>

  <p>How to call this component</p>
  <code class="block">
    &lt;%= render partial: 'govuk_component/beta_label' %&gt;
  </code>

  <p>How this component looks</p>
  <div class="preview">
    <%= render partial: 'govuk_component/beta_label' %>
  </div>
</div>
