/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "typography.scss";
@import "helpers/grid";

code {

  @include core-19;

  background: #eee;
  padding: .1em .3em;
  font-family: monospace;
  &.block {
    padding: 0 $gutter;
    display: block;
    @include grid-outdent;
  }

  &.small {
    @include core-14;
  }
  white-space: pre;
}

#global-header,
#global-header-bar,
#global-breadcrumb,
#footer {
  display: none;
}

#wrapper {
  @include grid-container;
  border-bottom: none;
}

#header {
  @include grid-outdent($padding-indent: true);

  margin-bottom: $gutter;
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;

  border-bottom: 1px solid #ccc;

  .app-name {
    margin: 0
  }
}

