/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "measurements";
@import "grid_layout";
@import "typography.scss";

div.code-block {
  @extend %outdent-to-full-width;
  padding: $gutter;
  // Match Prism styles to avoid a flash as it renders
  background: #f5f2f0;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;

  &[contenteditable]:hover {
      cursor: text;
  }
  code {
    display: block;
  }
}

#global-header,
#global-header-bar,
#global-breadcrumb,
#footer {
  display: none;
}

#wrapper {
  @extend %site-width-container;
  padding-bottom: $gutter * 4;

  > h1 {
    @include bold-36;
    margin: $gutter 0;
  }
}

#header {
  @include core-19;

  margin-bottom: $gutter;
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;

  border-bottom: 1px solid #ccc;

  .app-name {
    margin: 0
  }
}

.component-list {
  li {
    @include core-19;
    margin-bottom: $gutter-half;
  }
}

