
div.component-show {
  code {
    background: #eee;
    padding: 1em;
    font-family: monospace;

    &.block {
      display: block;
    }
  }

  .preview {
    margin: 0 0 4em;
    padding: 1em;
    border: 1px solid #ccc;
  }
}
