@import "measurements";
@import "grid_layout";
@import "typography.scss";

div.component-show {
  .preview {
    @extend %outdent-to-full-width;
    padding: $gutter-half 15px;

    box-shadow: 0 0 10px #eee inset;
    outline: 1px solid #ccc;

    div[class^="govuk-"] {
      &:hover {
        outline: 1px solid #aaa;
        box-shadow: 0 0 10px #aaa;
      }
    }
  }

  .fixtures {

    h2 {
      margin-bottom: $gutter;
      font-weight: bold;
    }

    margin-top: $gutter * 2;
    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 0 $gutter*2 0;

      h3 {}

      .preview {
        margin-top: $gutter/2;
        margin-bottom: $gutter/2;
      }

      code {}
    }
  }
}
