// `govuk_frontend_toolkit`
@import "measurements";
@import "typography.scss";
@import "colours.scss";

html {
  background: #fff;
}

body.hide-header-and-footer {
  #global-header,
  #global-header-bar,
  #global-breadcrumb,
  #footer {
    display: none;
  }
}

#wrapper {
  min-height: 8em;
}

.component-guide-preview {
  padding: 30px 0;
  > h2 {
    margin-bottom: 1em;
    @include bold-16;
    > a {
      color: $black;
    }
  }
}
