<!DOCTYPE html>
<html>
<head>
  <title>GOV.UK Component Guide</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <%= yield %>
</div>

</body>
</html>
