<!DOCTYPE html>
<html>
<head>
  <title>GOV.UK Component Guide</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <header id="header">
    <div class="outer-block">
      <div class="inner-block">
        <p class="app-name"><a href="/">GOV.UK Components Guide</a></p>
        <h1><%= yield :header %></h1>
      </div>
    </div>
  </header>

  <div class="outer-block">
    <div class="inner-block">
      <%= yield %>
    </div>
  </div>

</div>

</body>
</html>
