<!DOCTYPE html>
<html>
<head>
  <title>GOV.UK Publishing Components</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu" role="navigation">
      <a href="/" id="proposition-name">GOV.UK Publishing Component Guide</a>
    </nav>
  </div>
</div>

<div id="wrapper">
  <%= yield %>
</div>
</body>
</html>
